/*
 * Cytonn Technologies
 *
 * @author: Hashim Amani <hamani@cytonn.com>
 *
 * Project: Angular JS.
 *
 */


}
.red{
background-color: red;

}
.green{
background-color: green;	

}
.orange{
background-color: orange; 	
}

.black{
color: white;
background-color: black; 	
}

                